<html>
	<div class="container-fluid">
  		<div class="row">
			<% if !@games.blank? %>
		        <% for game in @games %>
		        	<div class="col-md-2">
				        	<div class="game-type-background-border <%= get_game_disable_css_class(game.disabled) %> game-type-<%= game.game_type_id %>">
				        		<% if game.disabled %>
				        			<%= link_to game.id, :id => "game-#{game.id}",:class => "game-link", :method => :get %>
				        		<% else %>
				        			<%= link_to game.id, game_url(id: game.id), :id => "game-#{game.id}",:class => "game-link", :method => :get %>
				        		<% end %>
				        	</div>
		        	</div>
		        <% end %>
		    <% end %>
  		</div>
		<div class="row">
			<div class="col-md-16">
  				<%= button_to "Atrás", dice_url, :id => "open-contacts-dialog-btn",:class => "btn btn-primary bt-lg btn-block back-button", :method => :get %>
  			</div>
  		</div>
	</div>
<html>