<html>
	
  <div id="wrap">
        <h2 class="sub-header"></h2>
          <div class="container">
              <div class="alert-container">
              </div>
          		<div class="song-container panel panel-success">
          			<div id="song-name" class="panel-heading"><%= @game.name %></div>
          			<div id="song-lyrics" class="panel-body">
          				<%= @game.description %>
          			</div>
          		</div>
          </div>

    <div class="container-fluid">
        <div class="row">
        <% if !@teams.blank? %>
              <% for team in @teams %>
                <div class="col-md-3">
                    <div class="team-type-background-border team-type-<%= team.id %>">
                      <%= link_to "", game_url(id: team.id), :id => "#{team.id}",:class => "team-link", :method => :get %>

                    </div>
                </div>
              <% end %>
          <% end %>
        </div>
      </div>
      
      <input game="<%= @game.id%>" class="btn btn-primary btn-lg btn-block back-button" id="end-game-button" type="submit" value="Finalizar">

          	<%= button_to "Atrás", game_type_url(id: @game.game_type_id), :id => "back-button",
      :class => "btn btn-primary btn-lg btn-block back-button", :method => :get %>
  </div>
<html>